<!--<div *ngIf="!showfirst">


  <ul class="league1" >

    <h2>League</h2>
    <li *ngFor="let ploeg of Team" >
      <span  (click)="toggle()">

     {{ploeg.name}} </span>
    </li>
  </ul>

  </div>
<div *ngIf="showfirst">
  <ul class="league" >
    <h2> Dutch League</h2>
    <li *ngFor="let ploeg of DutchTeam" >
      <span (click)="toggle()">

     {{ploeg.name}} </span>
    </li>
  </ul>

</div>-->
