.league{
height: 25%;
width: 20%;
margin: 20px;
margin-left:0;
background-color:whitesmoke;
color:blue;
list-style-type: none;
padding: 0;
text-align: center;
}
.league1{
  
    height: 25%;
    width: 20%;
    margin: 20px;
    margin-left:0;
    background-color:whitesmoke;
    color:blue;
    list-style-type: none;
    padding: 0;
    text-align: center;
    }


li span {
    display: block;
    color: #000; 
    text-decoration: none;
    padding: 10px;
}
li span:hover {
    background-color: #555;
    color: white;
    font-weight: bold;
}