.defaultImage{
    margin-top: 10px;
    width: 50%;
    height: 25%;
    margin-left: 40%;
 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.clubInfo{
    width: 50%;
    margin-left: 40%;
    text-align: center;
    background-color: rgb(151, 149, 149);
    padding: 10px 20px;
    border: 2px solid black;
    border-bottom: 0px;
    box-shadow: 2px 10px 18px #1d1f1e;
}