<!--<div class="logodisplay">
<img class="defaultImage" src="../../../assets/images/ball.png" alt="">
</div>
<div>
  <p class="clubInfo">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error saepe ducimus laudantium earum quo deserunt, rem reprehenderit doloremque, fugiat unde cupiditate nulla sunt fuga ratione quidem aliquid vitae provident neque.
  </p>
</div>-->
