/* You can add global styles to this file, and also import other style files */
body, html{
    margin: 0;
    padding: 0;
    top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
html{
    background-image: url(assets/images/background_gradiant.jpg);
    background-repeat: no-repeat;
}