<header>
  <h1>Club Profiles</h1>

  <nav>

    <ul>
      <li class="dropdown">
        <button class=dropbtn>league</button>
        <div class="dropdown-content">
          <span (click)="toggle()">Premier League</span>
          <span (click)="switcher()">EreDivisie</span>
         

        </div>
      </li>



      <li>
        <a href="#">About</a>
      </li>
    </ul>


  </nav>
</header>

<div *ngIf="showfirst" class="sideBar">


  <ul class="league" >

    <h2>Premier League</h2>
    <li *ngFor="let ploeg of Team" >
      <span  (click)="displayer(ploeg)">

     {{ploeg.name}} </span>
    </li>
  </ul>

  </div>
<div *ngIf="seconder" class="sideBar">
  <ul class="league" >
    <h2>Eredivisie</h2>
    <li *ngFor="let ploeg of DutchTeam" >
      <span (click)="displayer(ploeg)">

     {{ploeg.name}} </span>
    </li>
  </ul>

</div>

<div class="logodisplay" >
    <img class="defaultImage" *ngIf="!selectedTeam" src="../../../assets/images/ball.png" />
  <img class="defaultImage" [src]='selectedTeam.url' *ngIf="selectedTeam"  />

  <div>
    <p class="clubInfo" *ngIf="selectedTeam">
     {{selectedTeam.name}}
    </p>
  </div>
</div>
  <div class="clear"></div>