header{
    top: 0;
   width: 100%;
   height: 15%;
   background-image: url(../../../assets/images/stadium.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;    
   padding: 0;
   padding-top: 10px;
   box-shadow:0px 8px 5px black;
  
 
}
h1{
line-height: 2%;
color: white;
margin-left: 10px;
}
nav{
    position: absolute;
    height: 100%;
    width: 30%;
   display: block;
  left: 65%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
    text-align: center; 
}
li{

  display: inline;
  
  
}

li  {
 
    color: white;
    text-align: center;
    padding: 14px 16px 20px 20px;
    text-decoration: none;
    height: 100%
}

/* Change the link color to #111 (black) on hover */
li :hover {
   color: red;

}
.clearfix{
    clear: both;
}
.dropdown {
   display:absolute;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
  
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: fixed; 
    margin-left: 80px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    z-index: 1;
}

.dropdown-content span {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content span:hover {
    background-color: #ddd;
    cursor: pointer; 
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.league{
    height: 25%;
    width: 100%;
   
    background-color:whitesmoke;
    color:blue;
    list-style-type: none;
   
    text-align: center;
    }
     
    
    li span {
        display: block;
        color: #000; 
        text-decoration: none;
        padding: 10px;
    }
    li span:hover {
        background-color: #555;
        color: red;
        font-weight: bold;
        cursor: pointer;
    }
    .sideBar{
     width: 20%;
     margin: 20px;
     float: left;
    }
    .logodisplay{
        width: 50%;
        height:50%;
        float: right;
        margin-right: 100px;
        
       margin-top: 30px; 
      
    }

    .defaultImage{       
        width: 100%;
        height: 100%; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .clubInfo{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background-color: rgb(151, 149, 149);
        padding: 10px 20px;
        border: 2px solid black;
        border-bottom: 0px;
        box-shadow: 2px 10px 18px #1d1f1e;
    }